//GLOBALS
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 28px;
  margin-top: 0px;
}
h3 {
  font-size: 26px;
}
h4 {
  font-size: 18px;
  text-decoration: underline;
}
button {
  margin-top: 8px;
}
ul {
  list-style: none;
  padding-left: 0;
}
//LAYOUT
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.secondary-form {
  display: none;
  margin-top: 40px;
  label {
    margin: 0 2px;
  }
}
.container {
  width: 70%;
}
//List display
.list-display  {
  display: none;
}
//Recipe Display
.recipe-display {
  display: none;
  .col-sm-3 {
    margin: 20px 0 20px;
    &:nth-child(4n+1) {
      clear: left !important;
    }
  }
}
.recipe {
  border: 2px solid black;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  .recipe-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    p {
      color: white;
      text-align: center;
      padding: 15px 0 5px;
      text-transform: uppercase;
    }
  }
  .recipe-link {
    padding: 10px;
    transition: 0.2s ease;
    margin-top: 3px;
    span {
      transition: 0.2s ease;
      color: #57D478;
      transform: scale(1.2, 1.2);
    }
    &:hover {
      span {
        color: white;
      }
    }
  }
}
